<div class="container">
  <h1>Anagrams</h1>
  <% if @anagram %>
    <p>Possible anagrams: "<span><%= @anagram %></span>"</p>
  <% end %>

  <form action="/anagram" method="post">
    Enter a word...
    <br>
    <input type="text" name="user_input">
    <input type="submit" value="Anagram it!">
  </form>

  <div class="result"> <%= @anagram %> </div>
</div>
